<div id="messages-container">
    <div id="msgs-scroller-div" match-window-height>
        <div id="msgs-div" class="msgs-holder">
            <div class="day-container" ng-repeat="day in $ctrl.messageDays">
                <div class="day-divider">
                    <div class="day-divider-label">{{ day[0].sentAt | date: 'MMM d' }}</div>
                </div>

                <div class="day-msgs">
                    <message
                        message="message"
                        ng-repeat="message in day"
                    >
                    </message>
                </div>
            </div>
        </div>
    </div>
</div>
