#messages-container {
  overflow-y: hidden;
  position: relative;
  margin-left: 220px;

  #msgs-scroller-div {
    height: 1000px; // js added
    overflow-x: hidden;
    overflow-y: scroll;
    border-right: .25rem solid transparent;
    outline: 0;

    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }
  }

  #msgs-div {
    margin: 0;
    clear: both;
  }

  .msgs-holder {
    padding: 0;
    padding-top: 20px; // tmp
  }

  .day-container {
    position: relative;

    .day-divider {
      margin: 0;
      padding: 0;
      pointer-events: none;
      font-size: .9rem;
      line-height: 1rem;
      color: #2c2d30;
      font-weight: 700;
      text-align: center;
      cursor: default;
      clear: both;
      position: relative;

      .day-divider-label {
        top: -.375rem;
        background: #fff;
        padding: .25rem .75rem;
        display: inline-block;
        margin: 0 auto;
        position: relative;
        border-radius: 1rem;
      }
    }

    &:last-child {
      .day-msgs {
        padding-bottom: 1.05rem;
      }
    }

    .day-msgs {
      margin: -18px 0 0;
      padding: 1.75rem 0 1.25rem;
      border-top: 1px solid #e8e8e8;
    }

  }

  .message {
    display: block;
    width: 100%;
    margin: 0 auto -.0625rem;
    position: relative;
    padding-top: .0625rem;
    padding-bottom: .125rem;
    padding-left: 0;
    padding-right: 2.5rem;
    border-left: none;
    border-right: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    font-family: Slack-Lato,appleLogo,sans-serif;
    color: #2c2d30;
    font-size: .9375rem;
    line-height: 1.375rem;
    user-select: text;
    word-wrap: break-word;

    &:hover:not(.highlight) {
      background: #f9f9f9;
    }

    .message-gutter {
      width: 4.5rem;
      padding-right: .625rem;
      text-align: right;
      position: absolute;
      top: 0;
      left: 0;

      .message-icon {
        display: block;
      }

      .member-image {
        border-radius: .2rem;
        background-size: 100%;
        background-repeat: no-repeat;
        display: inline-block;
        position: relative;

        &.thumb {
          width: 2.25rem;
          height: 2.25rem;
        }
      }
    }

    .message-content {
      margin-top: .0625rem;
      margin-left: 4.5rem;

      .message-sender {
        display: inline;
        font-weight: 900;
        color: #2c2d30!important;
        line-height: 1.125rem;
        margin-right: .25rem;
        word-break: break-word;
      }
      .timestamp {
        margin-right: .25rem;
        opacity: 1;
        display: inline;
        line-height: 1.125rem;
        color: #9e9ea6;
        font-size: .75rem;
        white-space: nowrap;
      }

      .message-body {
        display: block;
        cursor: text;
      }
    }

  }

  
}
